body {
    font-family: 'Open Sans';
}
.topo {
    width: 100%;
    background: #fff;
    z-index: 999;
    position: absolute;
    top: 0;
    padding-top: 20px;
}
.topo .container.containerFull{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.ancoraTopo {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: #000;
    color: #fff;
    padding: 0 2px;
    font-size: 40px;
    border-radius: 5px;
    z-index: 9999
}
.topo .logo {
    padding-top: 10px;
    padding-bottom: 10px
}
.topo .logo a {
    width: 150px;
    display: block;
    margin: 0 auto;
}
.topo .logo strong {
   text-indent: -9999em;
    display: block;
    height: 37px;
    width: 100%;
    background: url(img/logo.png) no-repeat;
    margin: 0;
    background-size: cover;
    background-position: center!important;
}
.topo .areaMenu .navbar-toggle {
    display: none;
    border: solid 1px;
    margin: 20px
}
.topo .areaMenu .navbar {
    margin: 0;
    padding: 0;
    min-height: 0;
    border: none;
}
.topo .areaMenu .navbar-toggle span {
    background: #2f3b61
}
.topo .areaMenu .navbar-header {
    width: 100%
}
.topo .areaMenu .navbar-nav {
    width: 100%;
    text-align: left;
    padding-top: 17px;
}
.topo .areaMenu .navbar-nav>li {
    display: inline-block;
    margin: 0 10px;
    text-transform: lowercase;
}

.topo .areaMenu .dropdown-toggle.dropdown:before{
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    left: -7px;
    top: 5px;
}
.topo .areaMenu .navbar-nav>li a {
    color: #50575E;
    font-weight: 500;
    font-size: 17px;
    white-space: initial!important;
    padding: 5px 6px;
}
.topo .areaMenu .navbar-nav>li a:hover {
    background: transparent!important
}
.topo .areaMenu .navbar-nav>li a:active {
    background: transparent!important
}
.topo .areaMenu .navbar-nav>li a:focus {
    background: transparent!important
}
.topo .areaMenu .navbar-nav .dropdown-menu {
    width: 190px;
    padding: 0;
    border: 0;
    top: 30px
}
.topo .areaMenu .navbar-nav .dropdown-menu li {
    border-bottom: 1px dashed #2f3b61!important
}
.topo .areaMenu .navbar-nav .dropdown-menu li a {
    padding: 13px 20px!important;
    line-height: 20px!important
}
.topo .areaMenu .navbar-nav>li.itemEntreparaotime{
    float: right;
}
    .topo .areaMenu .navbar-nav>li.itemEntreparaotime a{
        border: solid 1px #2f3b61;
        border-radius: 5px;
    }
    .topo .areaMenu .navbar-nav>li.itemEntreparaotime a:hover{
        background: #2f3b61!important;
        color: #fff;
    }
.topo .areaMenu .navbar-nav>li.itemSolicitarOcamento{
    float: right;
    margin-left: 5px;
}
    .topo .areaMenu .navbar-nav>li.itemSolicitarOcamento a{
        border: solid 1px #2f3b61;
        background: #2f3b61;
        border-radius: 5px;
        color: #fff;
    }
        .topo .areaMenu .navbar-nav>li.itemSolicitarOcamento a:hover{
            background: transparent;
            color: #2f3b61;

    }
.ropdape {
    background: #2D3033;
    color: #fff;
    padding-top: 60px
}
.ropdape strong {
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
    padding: 0 10px
}
.ropdape ul {
    padding: 0;
    list-style: none;
    padding: 0 10px
}
.ropdape ul li {
    font-weight: 300
}
.ropdape ul li a {
    font-weight: 300
}
.ropdape .endereco ul li {
    margin-bottom: 20px
}
.ropdape ul li a {
    color: #fff;
    text-decoration: none
}
.ropdape .endereco ul li b {
    display: block;
    margin-bottom: 5px
}
.ropdape nav {
    max-width: 225px
}
.ropdape nav span {
    text-transform: uppercase;
    padding: 0 10px
}
.ropdape nav ul li {
    border-bottom: 1px solid #747B84
}
.ropdape nav ul li:last-child {
    border-bottom: none
}
.ropdape nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px
}
.copyright {
    background: #222528;
    padding: 10px
}
.copyright .direitoreservados {
    color: #fff;
    margin: 0;
    font-size: 13px
}
.copyright .redesSociais {
    text-align: right
}
.copyright .redesSociais a {
    color: #777;
    font-size: 20px;
    margin: 0 10px
}
.copyright .developers {
    text-align: center;
    padding-bottom: 5px;
}
.copyright .developers span {
    vertical-align: text-bottom;
    color: #555;
    font-size: 13px;
}
.copyright .developers a {
    text-align: center;
    padding-top: 35px;
}
.copyright .developers a img {
    max-width: 55px;
}
.pg {
    padding-top: 90px;
}
.linkAncora .spanAbrirOrcamento {
    padding: 12px 16px;
    display: block;
    margin: 0 auto;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    color: #fff!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #51bab6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all .2s;
    -webkit-transition: all .2s;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 60px;
    border: 0!important;
    max-width: 265px;
    text-align: center;
    text-decoration: none
}
.pg .formularioOrcamento .areaInput .areaSelect select {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #34495e
}
.pg .formularioOrcamento .areaInput .areaSelect::after {
    background: #34495e;
    color: #fff;
    z-index: -1
}
.pg .bannerTopo {
    background-color: #2a3557;
    width: 100%;
    min-height: 120px;
    padding-top: 25px
}
.pg .bannerTopo p {
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 200;
    margin: 0
}
.pg .item a {
    text-decoration: none;
    display: block
}
.pg .areaSobreEmpresa {
   
}
.pg .areaSobreEmpresa .areaCarrossel {

}
.pg .areaSobreEmpresa  .areaCarrossel{
      position: relative;
}
.pg .areaSobreEmpresa button {
    font-family: 'Fontawesome';
    background: transparent;
    border: none;
    font-size: 35px;
    color: #dcdcda;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: 99%;
    background: #211f1f91;
    outline: none;
}

.pg .areaSobreEmpresa #btnCarrosselLeft {
    left: 0;
}
.pg .areaSobreEmpresa #btnCarrosselRight {
    right: 0;
}
.pg .areaSobreEmpresa .carrosselDestaque {

}
.pg .areaSobreEmpresa .carrosselDestaque .item{

}
.pg .areaSobreEmpresa .carrosselDestaque .item .areaVideo{

}

.pg .areaSobreEmpresa .areaVideo {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: #000;
    position: relative
}

.pg .areaSobreEmpresa .areaTexto {
    max-width: 495px;
    padding: 10px
}
.pg .areaSobreEmpresa .areaTexto p {
    color: #2f3b61!important;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 25px
}
.pg .areaSobreEmpresa .areaTexto h2{
    font-size: 37px;
    font-weight: 600;
}


    .pg .areaSobreEmpresa .areaVideo iframe{
        width: 100%;
        height: 100%;
       
    }
.home .pg .areaSobreEmpresa .areaTexto .button {
    padding: 12px 16px;
    display: block;
    font-weight: 400;
    cursor: pointer;
    color: #fff!important;
    background: #2a3557;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 50px 0;
    border: 0;
    text-decoration: none;
    max-width: 248px
}
.pg .areaSobreEmpresa .areaTexto .button {
    padding: 12px 16px;
    display: block;
    font-weight: 400;
    cursor: pointer;
    color: #fff!important;
    background: #2a3557;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 50px 0;
    border: 0;
    text-decoration: none;
    max-width: 248px
}
.pg .areaSobreEmpresa .areaTexto ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pg .areaSobreEmpresa .areaTexto ul li{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0;
    padding-left: 15px;
}
        .pg .areaSobreEmpresa .areaTexto ul li:before{
           display: block;
           content: "\f078";
           width: 10px;
           height: 10px;
           position: absolute;
           left: 0;
           font-family: FontAwesome;
        }
.pg .areaComoFunciona {
    margin-top: 30px
}
.pg .areaComoFunciona>h6 {
    font-weight: 500;
    color: #2f3b61;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-bottom: 25px
}
.pg .areaComoFunciona .iconeTexto {
    max-width: 226px;
    margin: 0 auto;
    padding: 10px
}
.pg .areaComoFunciona .iconeTexto img {
    display: block;
    margin: 0 auto
}
.pg .areaComoFunciona .iconeTexto span {
    display: block;
    color: #2f3b61;
    font-size: 24px;
    margin: 25px 0
}
.pg .areaComoFunciona .iconeTexto span b {
    color: #2F3B61;
    font-size: 35px;
    font-weight: 600;
    margin-right: 10px
}
.pg .areaComoFunciona .iconeTexto p {
    margin: 0;
    color: #777;
    line-height: 24px;
    font-weight: 400;
    color: #2f3b61
}
.pg .areaComoFunciona a {
    padding: 12px 16px;
    display: block;
    font-size: .88em;
    font-weight: 400;
    color: #fff!important;
    -moz-box-sizing: border-box;
    background: #2a3557;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px auto 0;
    border: 0;
    text-decoration: none;
    max-width: 280px;
    text-align: center;
}
.pg .areaClientes {
    margin-top: 20px;
    padding: 30px 0;
}
.pg .areaClientes>h6 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2f3b61
}
.pg .areaClientes .carrosselClientes {
    
    width: 100%;
    min-height: 100px;
    margin: 20px 0;
}
.pg .areaClientes .carrosselClientes figure {
    width: 100%;
    max-width: 225px;
    padding: 30px 20px 20px;
    margin: 0 auto;
}
.pg .areaClientes .carrosselClientes figure img {
    width: 100%;
    height: auto;
}
.pg .areaDepoimentos {
    margin-top: 0;
}
.pg .areaDepoimentos>h6 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2f3b61
}

.pg .areaDepoimentos .carrosselDepoimentos .item {
    display: inline-block;
    text-align: center;
    max-width: 295px;
    vertical-align: top;
    margin: 30px 15px
}
.pg .areaDepoimentos .carrosselDepoimentos .item i {
    font-size: 23px;
    color: #2f3b61
}
.pg .areaDepoimentos .carrosselDepoimentos .item img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    vertical-align: top
}
.pg .areaDepoimentos .carrosselDepoimentos .item p {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 25px;
    color: #2f3b61
}
.pg .areaDepoimentos .carrosselDepoimentos.item span {
    color: #2f3b61;
    display: block;
    margin-top: 30px
}
.pg .areaValores {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 30px;
    margin-top: 0;
}
.pg .areaValores>h6 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2f3b61
}
.pg .areaValores ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 30px
}
.pg .areaValores ul li {
    position: relative;
    padding-left: 55px;
    max-width: 285px;
    vertical-align: top;
    display: inline-block;
    margin: 22px 10px;
    text-align: left
}
.pg .areaValores ul li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    color: #2f3b61
}
.pg .areaValores ul li span {
    margin-bottom: 22px;
    display: block;
    color: #50575E;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: -.4px
}
.pg .areaValores ul li p {
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #2f3b61
}
.pg .areaServicos {
    padding-top: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 0;
}
.pg .formularioOrcamento>h6 {
    display: block;
    text-align: center;
    font-size: 32px;
    color: #2F3B61;
    margin-bottom: 50px
}
.pg .areaServicos>h6 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2F3B61
}
.pg .areaServicos ul {
    padding: 0;
    list-style: none;
    text-align: left;
    margin-top: 40px
}
.pg .areaServicos ul li {
    position: relative;
    padding-left: 115px;
    max-width: 490px;
    vertical-align: top;
    display: inline-block;
    margin: 22px 10px;
    text-align: left
}
.pg .areaServicos ul li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    line-height: 70px;
    height: 70px;
    width: 70px;
    text-align: center;
    background: #f4f4f4;
    border-radius: 100%;
    color: #fff
}
.pg .areaServicos ul li h2 {
    margin-bottom: 17px;
    display: block;
    color: #50575E;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: -.4px
}
.pg .areaServicos ul li p {
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #2f3b61
}
.pg .areaServicos ul li a {
    padding: 12px 16px;
    border: 1px solid #ddd;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .625em;
    font-weight: 400;
    display: inline-block;
    transition: all .2s;
    border-radius: 3px;
    -webkit-transition: all .2s;
    margin-top: 10px;
    text-decoration: none
}
.pg .areaInfoServicos {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 60px
}
.pg .areaInfoServicos ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 50px
}
.pg .areaInfoServicos ul li {
    position: relative;
    max-width: 315px;
    vertical-align: top;
    display: inline-block;
    margin: 22px 10px;
    text-align: center
}
.pg .areaInfoServicos ul li span {
    text-align: center;
    color: #2f3b61;
    position: relative;
    font-size: 50px;
    padding: 0 30px;
}
    .pg .areaInfoServicos ul li span:before{
        content: "+";
        display: block;
        position: absolute;
        right: 0;
        color: #2f3b61;
        text-align: center;
    }
    .pg .areaInfoServicos ul li:last-child span:before{
        content: "M +";
        display: block;
        position: absolute;
        right: -5px;
        color: #2f3b61;
        text-align: center;
    }
.pg .areaInfoServicos ul li strong {
    display: block;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}
.pg .areaInfoServicos ul li p {
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #2f3b61;
}
.pg .areaInfo {
    padding: 10px 0 0;
}
.pg .areaInfo ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
.pg .areaInfo ul li {
    position: relative;
    max-width: 308px;
    vertical-align: top;
    display: inline-block;
    margin: 22px 10px;
    text-align: center
}
.pg .areaInfo ul li i {
    color: #2f3b61;
    display: block;
    font-size: 25px
}
.pg .areaInfo ul li strong {
    color: #50575E;
    display: block;
    margin: 15px 0;
    font-weight: 500;
    font-size: 20px
}
.pg .areaInfo ul li p {
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #2f3b61
}
.pg .areaQuemSomosfooter {
    margin-bottom: 50px
}
.pg .areaQuemSomosfooter button {
    padding: 12px 16px;
    display: block;
    margin: 40px auto 0;
    font-weight: 400;
    cursor: pointer;
    color: #fff!important;
    background: #51bab6;
    border-radius: 3px;
    -webkit-transition: all .2s;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 0
}
.pg .areaQuemSomosfooter .areaTexto {
    text-align: left;
    font-size: 15px;
    color: #2f3b61;
    line-height: 29px;
    padding: 0 10px;
}
.pg .areaQuemSomosfooter .areaTexto p {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 500;
    margin: 0;  
    padding: 10px 0;
}
.pg .areaQuemSomosfooter .areaTexto span {
    display: block;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: #2F3B61;
    margin: 15px 0
}
.pg .areaQuemSomosfooter .areaTexto .button {
    padding: 12px 16px;
    display: block;
    max-width: 300px;
    text-align: center;
    font-size: .88em;
    font-weight: 400;
    color: #fff!important;
    -moz-box-sizing: border-box;
    background: #2a3557;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px auto 0;
    border: 0;
    text-decoration: none
}
.pg .areaQuemSomosfooter .divImagemQuemSomos {
    width: 100%;
    padding: 10px;
}
.pg .areaQuemSomosfooter .divImagemQuemSomos .fotoEquipe{
    width: 100%;
    height: auto;
    text-align: center;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    max-height: 300px;
    max-width: 550px;
}
.pg .areaQuemSomosfooter .divImagemQuemSomos .fotoEquipe img{
    width: 100%;
    height: auto;
    visibility: hidden;
}
.wpcf7-list-item-label {
    font-weight: 600;
    color: #2f3b61;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px
}
.topoContato {
    text-align: right;
    background: #fff;
    border-bottom: 1px dotted #e7e7e7;
    padding: 10px;
}
.topoContato .redesSociais {
    display: inline-block;
    float: left
}
.topoContato .redesSociais a:hover i {
    color: #333
}
.topoContato .redesSociais a i {
    color: #ccc;
    font-size: 19px;
    margin: 0 3px
}
.topoContato .contatos a {
    height: 100%;
    display: inline-block;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    text-decoration: none
}
.topoContato .contatos a i {
    margin: 0 8px
}
.pg .areaSejaumtexter {
    padding: 40px 30px;
    background: #3C4044;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    z-index: 50;
    position: relative
}
.pg .areaSejaumtexter:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #fff;
    top: -1px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}
.pg .areaSejaumtexter p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    display: inline-block
}
.pg .areaSejaumtexter a {
    padding: 14px 18px;
    margin-left: 60px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff!important;
    background: #ef8121;
    font-weight: 400;
    letter-spacing: 3px;
    border-radius: 3px;
    text-decoration: none
}
.pg-inicial .bannerTopoDestque {
    height: 450px;
    width: 100%;
    background-position: center!important;
    background-size: cover!important
}
.pg-inicial .bannerTopoDestque a {
    display: block;
    text-decoration: none
}
.pg-inicial .bannerpg {
    background-position: 50% 615px!important;
    background: #f7f7f7;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-attachment: fixed!important;
    height: 250px;
    margin-top: 50px
}
.pg-transcricaodeAudio .infoServico {
    text-align: center;
    margin: 100px 0
}
.pg-transcricaodeAudio .infoServico p {
    color: #2f3b61;
    font-weight: 500!important;
    font-size: 35px
}
.pg-transcricaodeAudio .infoServico strong {
    font-size: 50px;
    font-weight: 600
}
.pg-transcricaodeAudio .infoServico span {
    color: #2f3b61;
    font-size: 16px;
    font-weight: 400
}
.pg-transcricaodeAudio .formularioOrcamento {
    max-width: 1000px;
    margin: 0 auto;
    display: block
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput {
    max-width: 485px;
    padding: 10px
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .inputText {
    display: block;
    width: 100%;
    background: #f7f7f7;
    color: #34495E;
    padding: 0 12px;
    height: 40px;
    border-color: #2f3b61;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    margin: 0 0 35px
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .inputText:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .inputText::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .inputText:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .inputText::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .inputText:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput textarea {
    width: 100%;
    background: #f7f7f7;
    outline: none;
    width: 100%;
    border: 1px solid #2f3b61;
    height: 120px;
    max-height: 150px;
    color: #34495E;
    padding: 12px;
    display: block;
    max-width: 475px
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput label {
    font-weight: 600;
    color: #2f3b61;
    font-size: 16px;
    margin: 25px 0 0;
    display: block
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .areaSelect {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 45px;
    line-height: 43px;
    border-bottom: solid 1px #2F3B61;
    margin: 20px 0
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .areaSelect i {
    position: absolute;
    right: 0;
    background: #34495e;
    color: #fff;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .areaSelect select {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #34495e
}
.pg-transcricaodeAudio .formularioOrcamento .areaInput .areaSelect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    color: #fff;
    z-index: -1
}
.pg-transcricaodeAudio .formularioOrcamento input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    font-size: 16px;
    background: #2f3b61;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    margin-top: 20px
}
.pg-traducaoJuramentada .bannerBackgroud {
    height: 330px;
    width: 100%;    
    background-position: center!important;
    background-size: cover!important;
    text-align: center;
    position: relative;
    margin-bottom: 100px
}
.pg-traducaoJuramentada .areatexto {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}
.pg-traducaoJuramentada .bannerBackgroud h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 200;
    text-shadow: 1px 1px #444
}
.pg-traducaoJuramentada .bannerBackgroud p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px
}
.pg-traducaoJuramentada .servicos {
    padding: 50px 0;
    border-bottom: 1px solid #f1f1f1
}
.pg-traducaoJuramentada .servicos h3 {
    color: #2F3B61;
    font-weight: 600;
    margin: 0 auto;
    max-width: 1000px
}
.pg-traducaoJuramentada .servicos p {
    font-weight: 500;
    padding: 0;
    color: #50575E;
    letter-spacing: -.4px;
    font-size: 17px;
    margin: 0 auto;
    max-width: 1000px;
    margin: 20px auto 40px
}
.pg-traducaoJuramentada .servicos ul {
    list-style: none;
    padding: 0;
    max-width: 945px;
    margin: 0 auto
}
.pg-traducaoJuramentada .servicos ul li {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 0 5px;
    position: relative;
    padding-left: 35px;
    vertical-align: -webkit-baseline-middle
}
.pg-traducaoJuramentada .servicos ul li i {
    color: #2f3b61;
    font-size: 27px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0
}
.pg-traducaoJuramentada .servicos ul li h2 {
    display: inline-block;
    font-weight: 500;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: #50575E;
    letter-spacing: -.4px;
    font-size: 20px
}
.pg-traducaoJuramentada .formularioOrcamento {
    max-width: 1000px;
    margin: 0 auto;
    display: block
}
.pg-traducaoJuramentada .formularioOrcamento>span {
    font-weight: 500;
    padding: 0;
    color: #50575E;
    letter-spacing: -.4px;
    display: block;
    font-size: 25px;
    padding: 0 10px;
    margin: 0 auto 10px
}
.pg-traducaoJuramentada .formularioOrcamento strong {
    color: #2F3B61;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    display: block;
    padding: 0 10px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput {
    max-width: 485px;
    padding: 10px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputText {
    display: block;
    width: 100%;
    background: #f7f7f7;
    color: #34495E;
    padding: 0 12px;
    height: 40px;
    border-color: #2f3b61;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    margin: 0 0 35px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputText:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputText::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputText:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputText::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputText:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput textarea {
    width: 100%;
    background: #f7f7f7;
    outline: none;
    width: 100%;
    border: 1px solid #2f3b61;
    height: 120px;
    color: #34495E;
    padding: 12px;
    display: block;
    max-width: 475px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .areaArquivos {
    margin: 40px 0
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput label {
    font-weight: 500;
    color: #2f3b61;
    font-size: 16px;
    display: block
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .wpcf7-list-item-label {
    font-weight: 500;
    color: #2f3b61;
    font-size: 16px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .areaSelect {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 45px;
    line-height: 43px;
    border-bottom: solid 1px #2F3B61;
    margin: 10px 0 45px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .areaSelect i {
    position: absolute;
    right: 0;
    background: #34495e;
    color: #fff;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .areaSelect select {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .areaSelect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    color: #fff
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputNumer label {
    display: block
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputNumer input {
    border-color: blue;
    border: solid 1px #2f3b61;
    padding: 0 5px;
    max-width: 100px;
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    outline: none;
    margin: 10px 0
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputCheck {
    max-width: 434px;
    margin-bottom: 30px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputCheck span {
    font-weight: 500;
    color: #2f3b61;
    font-size: 16px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputCheck label {
    display: inline-block;
    margin: 5px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .inputCheck input {
    margin: 0 2px
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .balao2 {
    background: #2F3B61;
    border-radius: 15px;
    max-width: 240px;
    max-height: 94px;
    position: relative;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin: 10px 0 20px
}
.balao2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #2F3B61;
    top: -19px;
    left: 20%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}
.pg-traducaoJuramentada .formularioOrcamento .areaInput .balao2 p {
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 16px;
    font-weight: 500
}
.pg-traducaoJuramentada .formularioOrcamento input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    font-size: 16px;
    background: #2f3b61;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    margin-top: 20px
}
.pg-traducaoJuramentada .areaRecomendacoes {
    padding-top: 65px
}
.pg-traducaoJuramentada .areaRecomendacoes>p {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 22px;
    color: #50575E;
    letter-spacing: -.4px;
    text-align: center;
    font-size: 25px;
    border-top: solid 2px #f1f1f1;
    border-bottom: solid 2px #f1f1f1;
    padding: 20px 0
}
.pg-traducaoJuramentada .areaRecomendacoes .areaDepoimentos {
    margin: 0
}
.pg-traducaoJuramentada .areaRecomendacoes .areaDepoimentos ul {
    margin: 0
}
.pg-traducaoJuramentada .areaRecomendacoes .areaDepoimentos ul li {
    max-width: 100%
}
.pg-traducaoJuramentada .areaRecomendacoes .areaInfo {
    padding: 0
}
.pg-traducaoJuramentada .areaRecomendacoes .areaInfo ul li {
    max-width: 100%
}
.pg-faq .areaConteudo {
    max-width: 1020px;
    margin: 40px auto
}
.pg-faq .bannerBackgroud {
    height: 450px;
    background-position: center!important;
    background-size: cover!important;
    position: relative
}
.pg-faq .bannerBackgroud .texto {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}
.pg-faq .bannerBackgroud .texto>p {
    color: #fff;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 200;
    text-shadow: 1px 1px #444;
    text-shadow: #2f6a7c 3px 1px;
    margin-bottom: 60px
}
.pg-faq .bannerBackgroud .info {
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    text-shadow: #2f6a7c 1px 1px;
    width: 1390px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 300;
    width: 100%
}
.pg-faq .bannerBackgroud p {
    display: block;
    margin: 0 auto
}
.pg-faq .areadePerguntas h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 22px;
    color: #50575E;
    letter-spacing: -.4px
}
.pg-faq .areadePerguntas .conteudo {
    max-width: 510px;
    margin: 0 auto;
    padding: 0 10px
}
.pg-faq .areadePerguntas .conteudo a {
    text-decoration: none;
    color: #666;
    padding: 15px 22px 15px 15px;
    border-bottom: 1px solid #e1e1e1;
    background: #f7f7f7;
    font-weight: 400;
    display: block;
    position: relative
}
.pg-faq .areadePerguntas .conteudo a i {
    position: absolute;
    right: 10px;
    position: absolute;
    top: 50%;
    color: #bababa;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}
.pg-faq .areadePerguntas .conteudo a h4 {
    margin: 0
}
.pg-faq .areadePerguntas .conteudo .card {
    padding: 10px
}
.pg-faq .areadePerguntas .conteudo .card p {
    color: #2f3b61!important;
    font-size: 15px;
    font-weight: 400
}
.pg-entreParaTime .formularioOrcamento {
    max-width: 1000px;
    margin: 0 auto;
    display: block
}
.pg-entreParaTime .formularioOrcamento .areaInput {
    max-width: 670px;
    padding: 10px;
    margin: 0 auto
}
.pg-entreParaTime .formularioOrcamento .areaInput .inputText {
    display: block;
    width: 100%;
    background: #f7f7f7;
    color: #34495E;
    padding: 0 12px;
    height: 40px;
    border-color: #2f3b61;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    margin: 0 0 35px;
    font-size: 15px
}
.pg-entreParaTime .formularioOrcamento .areaInput .inputText:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput .inputText::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput .inputText:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput .inputText::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput .inputText:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput textarea {
    width: 100%;
    background: #f7f7f7;
    outline: none;
    width: 100%;
    border: 1px solid #2f3b61;
    height: 120px;
    max-height: 150px;
    color: #34495E;
    padding: 12px;
    display: block;
    max-width: 475px
}
.pg-entreParaTime .formularioOrcamento .areaInput textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-entreParaTime .formularioOrcamento .areaInput label {
    font-weight: 600;
    color: #2f3b61;
    font-size: 16px;
    margin: 25px 0 0;
    display: block
}
.pg-entreParaTime .formularioOrcamento .areaInput .areaSelect {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 45px;
    line-height: 43px;
    border-bottom: solid 1px #2F3B61;
    margin: 20px 0
}
.pg-entreParaTime .formularioOrcamento .areaInput .areaSelect i {
    position: absolute;
    right: 0;
    background: #34495e;
    color: #fff;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer
}
.pg-entreParaTime .formularioOrcamento .areaInput .areaSelect select {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #34495e
}
.pg-entreParaTime .formularioOrcamento .areaInput .areaSelect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    color: #fff;
    z-index: -1
}
.pg-entreParaTime .formularioOrcamento input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    font-size: 16px;
    background: #2f3b61;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    margin-top: 20px
}
.pg-entreParaTime .bannerEntreParaTime {
    height: 330px;
    background-position: center!important;
    background-size: cover!important;
    position: relative
}
.pg-entreParaTime .bannerEntreParaTime .texto {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}
.pg-entreParaTime .bannerEntreParaTime span {
    color: #fff;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 200;
    text-shadow: 1px 1px #444
}
.pg-entreParaTime .bannerEntreParaTime p {
    text-align: center;
    text-shadow: #2f6a7c 1px 1px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 300!important
}
.pg-entreParaTime .areaTexto {
    text-align: center
}
.pg-entreParaTime .areaTexto span {
    display: block;
    font-weight: 500;
    color: #50575E;
    font-size: 33px;
    margin: 20px 0
}
.pg-entreParaTime .areaTexto p {
    display: block;
    font-weight: 500;
    color: #50575E;
    font-size: 22px;
    margin: 20px 0
}
.pg-entreParaTime .areaTexto img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px
}
.pg-quemsomos {
    background: #f8f8f8
}
.pg-quemsomos .title-quemsomos p {
    color: #2F3B61;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 70px 0 50px
}
.pg-quemsomos .texto p {
    line-height: 25px;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #555
}
.pg-quemsomos ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    text-align: center;
    max-width: 1240px;
    margin: 0 auto
}
.pg-quemsomos ul li {
    width: 100%;
    max-width: 370px;
    text-align: center;
    margin: 20px auto 0;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    position: relative
}
.pg-quemsomos ul li .foto-perfil {
    display: block;
    border-radius: 100%;
    height: 170px;
    width: 170px;
    margin: 0 auto;
    background-size: cover!important;
    background-position: center!important
}
.pg-quemsomos ul li .foto-perfil-p {
    display: block;
    border-radius: 100%;
    height: 170px;
    width: 170px;
    margin: 0 auto;
    background-size: cover!important;
    background-position: center!important;
    opacity: 0;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in
}
.pg-quemsomos ul li .foto-perfil-p:hover {
    display: block;
    border-radius: 100%;
    height: 170px;
    width: 170px;
    margin: 0 auto;
    background-size: cover!important;
    background-position: center!important;
    opacity: 1;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in
}
.pg-quemsomos ul li .nome {
    font-size: 20px;
    margin: 20px 0 0;
    color: #3A3A3A;
    font-weight: 600
}
.pg-quemsomos ul li .cargo {
    font-size: 18px;
    color: #3A3A3A;
    margin: 5px 0;
    font-style: italic;
    font-weight: 500
}
.pg-quemsomos ul li .descricao {
    color: #555;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    font-weight: 100
}
.pg-quemsomos .equipe li {
    width: 100%;
    max-width: 370px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 0 20px
}
.pg-404 img {
    margin: 150px auto;
    display: block
}
.pg-servicos .formularioOrcamento {
    max-width: 1000px;
    margin: 0 auto;
    display: block
}
.pg-servicos .formularioOrcamento .areaInput {
    padding: 10px
}
.pg-servicos .formularioOrcamento .areaInput .inputText {
    display: block;
    width: 100%;
    background: #f7f7f7;
    color: #34495E;
    padding: 0 12px;
    height: 40px;
    border-color: #2f3b61;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    margin: 0 0 35px
}
.pg-servicos .formularioOrcamento .areaInput .inputText:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput .inputText::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput .inputText:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput .inputText::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput .inputText:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput textarea {
    width: 100%;
    background: #f7f7f7;
    outline: none;
    width: 100%;
    border: 1px solid #2f3b61;
    height: 120px;
    color: #34495E;
    padding: 12px;
    display: block;
    max-width: 475px
}
.pg-servicos .formularioOrcamento .areaInput textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-servicos .formularioOrcamento .areaInput label {
    font-weight: 600;
    color: #2f3b61;
    font-size: 16px;
    display: block
}
.pg-servicos .formularioOrcamento .areaInput .areaSelect {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 45px;
    line-height: 43px;
    border-bottom: solid 1px #2F3B61;
    margin: 20px 0
}
.pg-servicos .formularioOrcamento .areaInput .areaSelect i {
    position: absolute;
    right: 0;
    background: #34495e;
    color: #fff;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer
}
.pg-servicos .formularioOrcamento .areaInput .areaSelect select {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none
}
.pg-servicos .formularioOrcamento .areaInput .areaSelect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    color: #fff
}
.pg-servicos .formularioOrcamento input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    font-size: 16px;
    background: #2f3b61;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    margin-top: 20px
}
.pg-servicos .servicos h3 {
    color: #2F3B61;
    font-weight: 600;
    margin: 0 auto;
    max-width: 1000px
}
.pg-servicos .servicos p {
    font-weight: 500;
    padding: 0;
    color: #50575E;
    letter-spacing: -.4px;
    font-size: 17px;
    margin: 0 auto;
    max-width: 1000px;
    margin: 20px auto 40px
}
.pg-servicos .servicos ul {
    list-style: none;
    padding: 0;
    max-width: 945px;
    margin: 0 auto
}
.pg-servicos .servicos ul li {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 0 5px
}
.pg-servicos .servicos ul li i {
    color: #2f3b61;
    font-size: 27px;
    text-align: center;
    border-radius: 2px;
    margin-right: 20px
}
.pg-servicos .servicos ul li h2 {
    display: inline-block;
    font-weight: 500;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: #50575E;
    letter-spacing: -.4px;
    font-size: 20px
}
.pg-agencias .bannerAgencia {
    height: 450px;
    background-position: center!important;
    background-size: cover!important;
    position: relative
}
.pg-agencias .bannerAgencia .texto {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}
.pg-agencias .bannerAgencia span {
    color: #fff;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 200;
    text-shadow: 1px 1px #444
}
.pg-agencias .infoAgencia .info {
    border-bottom: solid 2px #f1f1f1;
    padding: 90px 0 70px
}
.pg-agencias .infoAgencia .info .texto {
    text-align: center;
    padding-top: 20px
}
.pg-agencias .infoAgencia .info .texto h2 {
    font-weight: 500;
    color: #50575E;
    font-size: 35px;
    margin-bottom: 40px
}
.pg-agencias .infoAgencia .info .texto p {
    font-weight: 500;
    color: #50575E;
    font-size: 25px
}
.pg-agencias .infoAgencia .info figure {
    display: block;
    text-align: center
}
.pg-agencias .carrosselClientes {
    padding: 50px 0
}
.pg-agencias .carrosselClientes h6 {
    font-weight: 500;
    color: #50575E;
    font-size: 35px;
    display: block;
    margin-bottom: 70px
}
.pg-agencias .carrosselClientes .item img {
    max-width: 185px;
    vertical-align: top;
    margin: 0 auto
}
.pg-agencias .formularioOrcamento {
    margin: 0 auto;
    display: block
}
.pg-agencias .formularioOrcamento .areaInput {
    padding: 10px
}
.pg-agencias .formularioOrcamento .areaInput .inputText {
    display: block;
    width: 100%;
    background: #f7f7f7;
    color: #34495E;
    padding: 0 12px;
    height: 40px;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    outline: none;
    margin: 0 0 35px
}
.pg-agencias .formularioOrcamento .areaInput .inputText:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput .inputText::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput .inputText:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput .inputText::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput .inputText:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput textarea {
    width: 100%;
    background: #f7f7f7;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    height: 250px;
    color: #34495E;
    padding: 12px;
    display: block
}
.pg-agencias .formularioOrcamento .areaInput textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-agencias .formularioOrcamento .areaInput label {
    font-weight: 600;
    color: #2f3b61;
    font-size: 16px;
    margin: 25px 0 10px;
    display: block
}
.pg-agencias .formularioOrcamento .areaInput .areaSelect {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 45px;
    line-height: 43px;
    border-bottom: solid 1px #2F3B61;
    margin: 20px 0
}
.pg-agencias .formularioOrcamento .areaInput .areaSelect i {
    position: absolute;
    right: 0;
    background: #34495e;
    color: #fff;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer
}
.pg-agencias .formularioOrcamento .areaInput .areaSelect select {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none
}
.pg-agencias .formularioOrcamento .areaInput .areaSelect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    color: #fff
}
.pg-agencias .formularioOrcamento input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    font-size: 16px;
    background: #2f3b61;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    margin-top: 20px
}
.pg-contato .formularioOrcamento {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    padding-top: 40px
}
.pg-contato .formularioOrcamento > p {
    color: #2F3B61;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px
}
.pg-contato .formularioOrcamento > span {
    color: #2F3B61;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    display: block
}
.pg-contato .formularioOrcamento .areaInput {
    max-width: 730px;
    padding: 10px
}
.pg-contato .formularioOrcamento .areaInput .inputText {
    display: block;
    width: 100%;
    background: #f7f7f7;
    color: #34495E;
    padding: 0 12px;
    height: 40px;
    border-color: #2f3b61;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    margin: 0 0 35px
}
.pg-contato .formularioOrcamento .areaInput .inputText:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 15px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput .inputText::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput .inputText:-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput .inputText::-moz-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput .inputText:-ms-input-placeholder {
    color: #2f3b61;
    font-size: .8em;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput textarea {
    width: 100%;
    background: #f7f7f7;
    outline: none;
    width: 100%;
    border: 1px solid #2f3b61;
    height: 120px;
    color: #34495E;
    padding: 12px;
    display: block;
    max-width: 475px
}
.pg-contato .formularioOrcamento .areaInput textarea:-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput textarea::-webkit-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput textarea:-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput textarea::-moz-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput textarea:-ms-input-placeholder {
    color: #2f3b61;
    font-size: 14px;
    font-weight: 600
}
.pg-contato .formularioOrcamento .areaInput label {
    font-weight: 600;
    color: #2f3b61;
    font-size: 16px;
    display: block;
    margin-top: 20px
}
.pg-contato .formularioOrcamento .areaInput .areaSelect {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 45px;
    line-height: 43px;
    border-bottom: solid 1px #2F3B61;
    margin: 20px 0
}
.pg-contato .formularioOrcamento .areaInput .areaSelect i {
    position: absolute;
    right: 0;
    background: #34495e;
    color: #fff;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer
}
.pg-contato .formularioOrcamento .areaInput .areaSelect select {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none
}
.pg-contato .formularioOrcamento .areaInput .areaSelect::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    color: #fff
}
.pg-contato .formularioOrcamento input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 230px;
    font-weight: 700;
    font-size: 16px;
    background: #2f3b61;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    margin-top: 20px
}
.pg-contato .areaContato {
    margin-bottom: 80px
}
.pg-contato .areaContato .infos .titulo {
    border-bottom: 1px solid #f1f1f1;
    display: block;
    position: relative;
    margin: 40px 0 35px
}
.pg-contato .areaContato .infos .titulo p {
    background-color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}
.pg-contato .areaContato .infos .titulo .horariosTitulo {
    padding: 0;
    display: block;
    width: 100%;
    max-width: 275px
}
.pg-contato .areaContato .infos ul {
    border: none;
    padding: 0;
    font-size: 0;
    display: inline-block;
    border-radius: 2px
}
.pg-contato .areaContato .infos ul li {
    margin: 0;
    float: inherit;
    display: inline-block;
    background: #50575e
}
.pg-contato .areaContato .infos ul .active a {
    background: #2f3b61;
    color: #fff
}
.pg-contato .areaContato .infos ul .active a:hover {
    background: #2f3b61
}
.pg-contato .areaContato .infos ul li a {
    border: none;
    color: #fff;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 20px
}
.pg-contato .areaContato .infos ul li a:hover {
    background: #383b3f
}
.pg-contato .areaContato .infos .tab-content {
    padding: 30px 10px 20px
}
.pg-contato .areaContato .infos .tab-content .tab-pane a {
    color: #2f3b61!important;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none
}
.pg-contato .areaContato .infos .endereco a {
    text-decoration: none
}
.pg-contato .areaContato .infos .endereco a h2 {
    color: #2f3b61;
    font-weight: 700;
    font-size: 17px
}
.pg-contato .areaContato .infos .endereco a p {
    color: #2f3b61;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0
}
.pg-contato .areaContato .infos .endereco a span {
    display: block;
    color: #2f3b61;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0
}
.pg-contato .areaContato .horarios.infos span {
    display: block;
    color: #2f3b61;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0
}
.pg-blog .cabecalhoBlog {
    background: #F7F7F7;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    padding: 35px 0
}
.pg-blog .cabecalhoBlog .areaCabecalho {
    max-width: 1025px;
    margin: 0 auto
}
.pg-blog .cabecalhoBlog .nav span {
    font-size: 12px;
    margin: 0 10px;
    color: #555
}
.pg-blog .cabecalhoBlog .nav a {
    color: #555;
    font-weight: 700;
    margin: 0 5px 0 0;
    font-size: 13px
}
.pg-blog .cabecalhoBlog .titulo h2 {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    color: #555;
    padding: 0 10px;
    margin: 0;
    max-width: 485px;
    line-height: 18px
}
.pg-blog .areaPosts ul {
    padding: 0;
    list-style: none
}
.pg-blog .areaPosts ul li {
    width: 100%;
    max-width: 642px;
    min-height: 200px;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 25px;
    margin: 25px auto;
    text-align: center
}
.pg-blog .areaPosts ul li a {
    text-decoration: none
}
.pg-blog .areaPosts ul li figure {
    display: block;
    height: 342px;
    background-position: center!important;
    background-size: cover!important;
    position: relative;
    cursor: pointer
}
.pg-blog .areaPosts ul li figure:before {
    display: block;
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25%;
    opacity: 0;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}
.pg-blog .areaPosts ul li figure:hover:before {
    opacity: .7;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}
.pg-blog .areaPosts ul li figure .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}
.pg-blog .areaPosts ul li figure:hover .links {
    opacity: 1;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}
.pg-blog .areaPosts ul li figure .links i {
    color: #FFF;
    background: #2f3b61;
    padding: 10px;
    opacity: 1;
    font-size: 15px;
    border-radius: 2px;
    margin: 0 30px;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}
.pg-blog .areaPosts ul li figure:hover i {
    margin: 0 5px;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}
.pg-blog .areaPosts ul li figure .links i:hover {
    background: #111
}
.pg-blog .areaPosts ul li a h2 {
    color: #2f3b61;
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0;
    text-align: left
}
.pg-blog .areaPosts ul li a h3 {
    margin: 0;
    color: #333;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    display: inline-block
}
.pg-blog .areaPosts ul li a .text-left {
    color: #4C4C4C;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    text-align: left
}
.pg-blog .areaPosts ul li p {
    color: #4C4C4C;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    text-align: left
}
.single .areaPosts ul li span {
    color: #4C4C4C;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    text-align: left
}
.pg-blog .areaPosts ul li img {
    width: 90%!important;
    height: 90%!important
}
.pg-blog .areaPosts ul li a .link {
    padding: 12px 16px;
    border: 1px solid #ddd;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .625em;
    font-weight: 400;
    display: inline-block;
    transition: all .2s;
    border-radius: 3px;
    -webkit-transition: all .2s;
    display: block;
    max-width: 100px
}
.pg-blog .sidebar {
    padding-top: 50px;
    box-shadow: inset 20px 0 9px -10px #f6f6f6;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 310px
}
.pg-blog .sidebar span {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 6px;
    display: block
}
.pg-blog .sidebar .areaPesquisa {
    max-width: 276px;
    position: relative;
    margin-bottom: 45px
}
.pg-blog .sidebar .areaPesquisa input[type="text"] {
    background: #f7f7f7;
    outline: none;
    color: #2f3b61;
    border: 0;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    padding: 0 28px 0 12px;
    display: block;
    width: 100%
}
.pg-blog .sidebar .areaPesquisa input[type="submit"] {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 20px;
    background: transparent;
    border: none;
    color: #2f3b61;
    outline: none
}
.pg-blog .sidebar .areaPesquisa input:-webkit-input-placeholder {
    color: #2f3b61;
    font-weight: 700;
    font-size: 14px
}
.pg-blog .sidebar .areaPesquisa input::-webkit-input-placeholder {
    color: #2f3b61;
    font-weight: 700;
    font-size: 14px
}
.pg-blog .sidebar .areaPesquisa input:-moz-placeholder {
    color: #2f3b61;
    font-weight: 700;
    font-size: 14px
}
.pg-blog .sidebar .areaPesquisa input::-moz-placeholder {
    color: #2f3b61;
    font-weight: 700;
    font-size: 14px
}
.pg-blog .sidebar .areaPesquisa input:-ms-input-placeholder {
    color: #2f3b61;
    font-weight: 700;
    font-size: 14px
}
.pg-blog .sidebar ul {
    padding: 0;
    list-style: none
}
.pg-blog .sidebar .categoras {
    margin-bottom: 50px
}
.pg-blog .sidebar ul li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 12px;
    padding-top: 12px
}
.pg-blog .sidebar ul li a {
    color: #666;
    font-size: .75em;
    text-decoration: none
}
.pg-blog .sidebar .tags {
    margin-bottom: 50px
}
.pg-blog .sidebar .tags a {
    background: #333;
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 4px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    position: relative
}
.pg-blog .sidebar .tags a:hover {
    background: #2f3b61
}
.pg-blog .sidebar .tags a:before {
    content: attr(data-qtdPost)" tópico";
    display: inline-block;
    width: 70px;
    padding: 3px 8px;
    color: #333;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    z-index: -1
}
.pg-blog .sidebar .tags a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    z-index: -1
}
.pg-blog .sidebar .tags a:hover:before {
    opacity: 1;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
    z-index: 1
}
.pg-blog .sidebar .tags a:hover:after {
    opacity: 1;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
    z-index: 1
}

 .pg-inicial .carrosselClientesTopo {
        
    }
    .pg-inicial .carrosselClientesTopo ul {
        padding: 0;
        list-style: none;
        text-align: center;
        margin-top: 50px;
    }
    .pg-inicial .carrosselClientesTopo ul li {
        position: relative;
        max-width: 315px;
        vertical-align: top;
        display: inline-block;
        margin: 22px 10px;
        text-align: center;
    }
    .pg-inicial .carrosselClientesTopo ul li span {
        text-align: center;
        color: #2f3b61;
        position: relative;
        font-size: 25px;
        padding: 0 30px;
    }
    .pg-inicial .carrosselClientesTopo ul li span:before{
        content: "+";
        display: block;
        position: absolute;
        right: 10px;
        color: #2f3b61;
        text-align: center;
    }
    .pg-inicial .carrosselClientesTopo ul li:nth-child(2) span:before{
        content: "M +";
        display: block;
        position: absolute;
        right: -13px;
        color: #2f3b61;
        text-align: center;
    }
    .pg-inicial .carrosselClientesTopo ul li:last-child span:before{
        content: "%";
        display: block;
        position: absolute;
        right: 7px;
        color: #2f3b61;
        text-align: center;
    }
    .pg-inicial .carrosselClientesTopo ul li strong{
        display: block;
        font-weight: 500;
        font-size: 15px;
        margin: 5px 0;
        width: 100%;
        max-width: 200px;
        text-align: center;
    }
    .pg-inicial .carrosselClientesTopo .carrosselClientesPrincipal {
        margin: 25px 0 50px 0;
    }
    .pg-inicial .carrosselClientesTopo .carrosselClientesPrincipal .item {
        
    }
    .pg-inicial .carrosselClientesTopo .carrosselClientesPrincipal .item figure{
        width: 100%;
        max-width: 120px;
        margin: 0 auto;
    }
    .pg-inicial .carrosselClientesTopo .carrosselClientesPrincipal .item figure img{
        width: 100%;
        height: auto;
    }

    /***** CSS FORMULÁRIO DE ORÇAMENTO *******/
        body .geral{
            font-family: sans-serif;
            overflow-y: scroll;
        }
                body .geral::-webkit-scrollbar{
                    visibility: hidden;                 
                    width: 0;
                }
                body .geral::-webkit-scrollbar-button{
                    
                    width: 0;
                }
                body .geral::-webkit-scrollbar-track{
                    
                    width: 0;
                }
                body .geral::-webkit-scrollbar-track-piece  {
                    
                    width: 0;
                }
                body .geral::-webkit-scrollbar-thumb{
                    
                    width: 0;
                }
                body .geral::-webkit-scrollbar-corner{
                    
                    width: 0;
                }
                body .geral::-webkit-resizer{
                    
                    width: 0;
                }
            body .geral #textoModalOrcamento {

            }
            body .geral #textoModalOrcamento .titulo{
                font-size: 25px;
                color: #2f3b61;
            } 
            body .geral #textoModalOrcamento p  span{
                color: #2f3b61;
            } 

            body .geral .dimensoes .formularioOrcamentoEsquerda {
                padding: 10px;
            }
                body .geral .dimensoes .formularioOrcamentoEsquerda input[type=checkbox]{
                    margin: 5px 0 0 0;
                }
                body .geral .dimensoes .formularioOrcamentoEsquerda input[type="text"]{
                    outline: none!important;
                    background: #f7f7f7 !important;
                    width: 100%;
                    color: #34495E !important;
                    height: auto!important;
                    min-height: 40px;
                    border: none!important;
                    border-bottom: 1px solid rgb(47, 59, 97)!important;
                    font-size: 13px!important;
                    margin-bottom: 18px!important;
                    padding: 10px;
                }
                    body .geral .dimensoes .formularioOrcamentoEsquerda input::-webkit-input-placeholder{
                      color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;
                    }
                    body .geral .dimensoes .formularioOrcamentoEsquerda input:-moz-placeholder{ 
                      color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;

                    }
                    body .geral .dimensoes .formularioOrcamentoEsquerda input::-moz-placeholder{
                      color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;
                    }
                    body .geral .dimensoes .formularioOrcamentoEsquerda input:-ms-input-placeholder{
                      color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;
                    }
                body .geral .dimensoes .formularioOrcamentoEsquerda textarea {
                    max-width: 470px;
                    width: 100%;
                    border: 1px solid rgb(47, 59, 97)!important;
                    max-height: 120px;
                    color: #34495E!important;
                    margin-top: 18px;
                    outline: none!important;
                    background: #f7f7f7 !important;
                    padding:10px;
                }
                    body .geral .dimensoes .formularioOrcamentoEsquerda textarea::-webkit-input-placeholder {
                      color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;
                     color: #34495E !important;
                      font-size: 13px;
                    }
                    body .geral .dimensoes .formularioOrcamentoEsquerda textarea:-moz-placeholder  {
                     color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;
                    }
                    body .geral .dimensoes .formularioOrcamentoEsquerda textarea::-moz-placeholder  {
                    color: #34495E !important;
                      font-size: 13px;
                      font-weight: 600;
                    }
                    body .geral .dimensoes .formularioOrcamentoEsquerda textarea:-ms-input-placeholder  {
                        color: #34495E !important;
                        font-size: 13px;
                        font-weight: 600;
                    }
                body .geral .dimensoes .formularioOrcamentoEsquerda span {
                    font-weight: 600!important;
                    color: #2f3b61 !important;
                    font-size: 15px!important;
                    display: block!important;
                    vertical-align: top;
                    padding-left: 10px;
                    margin-top: 25px;
                    margin-bottom: 15px;
                }
                body .geral .dimensoes .formularioOrcamentoEsquerda .spanzinho{
                    display: inline-block!important;
                    width: 100%;
                    max-width: 315px;
                    padding: 0;
                    margin: 0;
                    float: initial;
                    margin:10px 0 10px 10px;
                }
                body .geral .dimensoes .formularioOrcamentoEsquerda .selectFormulario select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  appearance: none;
                  outline: 0;
                  box-shadow: none;
                  border: 0!important;
                  background-image: none;
                  width: 100%;
                  height: 100%;
                  padding: 0;
                }
                    body .geral .dimensoes .formularioOrcamentoEsquerda option {
                    }
                body .geral .dimensoes .bt-enviar{
                    display: block;
                    width: 100%;
                    max-width: 230px;
                    font-weight: bold;
                    font-size: 18px!important;
                    background: #2a3557 !important;
                    height: 45px!important;
                    border: 1px solid transparent!important;
                    color: #fff!important;
                    margin: 10px auto;
                    border-radius: 3px!important;
                    outline: none!important;
                }
                    body .geral .dimensoes .bt-enviar:hover{
                        background: #fff!important;
                        color: #2a3557!important;
                        border: 1px solid #2a3557!important;
                        transition: all linear .3s!important;
                        -moz-transition: all linear 0.3s!important;
                        -webkit-transition: all linear 0.3s!important;
                        -o-transition: all linear 0.3s!important;
                        border-radius: 3px!important
                    }
            .geral {
                position: fixed;
                top: 0;
                left:  0;
                z-index: 999999;
                background: #fff;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                border: 1px solid #2f3b61;
            }
            .dimensoes{
                width: 100%;
                max-width: 980px;
                height: auto;
                margin: 20px auto;
            }
            .geral  .fechar {
                display: block;
                position: absolute;
                z-index: 9999999;
                top: 2%;
                right: 2%;
                text-align: center;
                color: #000;
                font-size: 31px;
                font-family: FontAwesome;
            }
            .geral  .fechar i {
                font-style: normal;
            }
            .geral .fechar:hover {
                cursor: pointer;
            }
            .geral .wpb_wrapper #paragrafoModal{
                margin-bottom: 5px;
            }
            .geral #textoModalOrcamento {
                margin-top: 20px;
            }
            .selectFormulario{
                position: relative;
                display: block;
                width:50%;
                height: 45px;
                line-height: 43px;
                margin-left: 10px;
            }
            .selectFormulario::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 0 1em;
                background: #34495e;
                pointer-events: none;
                color: #fff;
            } 



    /***** CSS FORMULÁRIO DE ENVIO DE ARQUIVOS *******/
        body .formularioArquivos {
            width: 100%;
            height: 100vh;
            margin: 0 auto;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 999;
            background-color: #fff;
            text-align: center;
        }
        body .formularioArquivos .fecharFormularioDeArquivos {
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 25px;
            text-align: center;
            color: #2a3557;
        }
        body .formularioArquivos .fecharFormularioDeArquivos:hover {
            color: #d63d3d;
            cursor: pointer;
            transition: color .4s;
            -webkit-transition:color .4s;
            -moz-transition:color .4s;
            -o-transition:color .4s;
        }
        body .formularioArquivos .fecharFormularioDeArquivos i {
            font-family: FontAwesome;
            font-style: normal;
        }
        body .formularioArquivos .camposFormularioDeArquivos .textoInicial {
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            font-size: 20px;
            padding: 30px 8px;
        } 
        body .formularioArquivos .camposFormularioDeArquivos .textoInicial p{

        } 
        body .formularioArquivos .camposFormularioDeArquivos {
            margin-top: 30px;
            text-align: center;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            padding: 0 10px;
        }
        body .formularioArquivos .camposFormularioDeArquivos input{
            outline: none;
            background: #f7f7f7;
            width: 100%;
            max-width: 500px;
            color: #34495E;
            height: auto;
            min-height: 40px;
            border: none;
            border-bottom: 1px solid rgb(47, 59, 97);
            font-size: 13px;
            margin-bottom: 18px;
            padding: 10px;
        }
            body .formularioArquivos .camposFormularioDeArquivos input::-webkit-input-placeholder {
               color: #34495E;
            }
            body .formularioArquivos .camposFormularioDeArquivos input:-moz-placeholder {
               color: #34495E;
            }
            body .formularioArquivos .camposFormularioDeArquivos input::-moz-placeholder {
               color: #34495E;
            }
            body .formularioArquivos .camposFormularioDeArquivos input::-ms-input-placeholder {
               color: #34495E;
            }
        body .formularioArquivos .camposFormularioDeArquivos input[type="text"]{
            
        }
        body .formularioArquivos .camposFormularioDeArquivos .bt-enviarArquivo {

        }
        body .formularioArquivos .camposFormularioDeArquivos .bt-enviarArquivo:before {
            content: '';
        }
        body .formularioArquivos .camposFormularioDeArquivos .bt-enviarArquivo input[type="file"]{
            margin: 0 auto 18px;
        }
        body .formularioArquivos .camposFormularioDeArquivos input[type="submit"]{
            width: 100%;
            max-width: 143px;
            background: #2a3557;
            border: none;
            font-size: 18px;
            color: #fff;
            border-radius: 3px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

@media (max-width: 1367px) {
    .pg .areaSobreEmpresa .areaTexto ul {
        padding: 0 15px;
    }
    .pg .areaSobreEmpresa .areaTexto ul li:before {
        left: 15px;
    }
    .topo .areaMenu .navbar-nav>li#menu-item-6441 {
        margin: 0 5px;
    }
}
@media (max-width: 1200px) {
    .topo .areaMenu .navbar-nav {
        text-align: center;
    }
    .topo .areaMenu .navbar-nav>li.itemSolicitarOcamento {
        float: inherit;
    }
    .topo .areaMenu .navbar-nav>li#menu-item-6441 {
        float: inherit;
    }
}
@media (max-width: 991px) {
    .containerFull {
        width: 100%
    }
    .pg .bannerTopo p {
        font-size: 35px
    }
    .topo .logo {
        padding: 10px
    }
    .topo .areaMenu .navbar-nav {
        padding: 0 13px;
    }
    .pg {
        padding-top: 120px
    }
}
@media (max-width: 850px) {
    .topoContato .redesSociais {
        float: inherit;
        text-align: center;
        display: block
    }
    .topoContato .contatos {
        text-align: center;
        margin-top: 10px
    }
    .nav>li>a {
        padding: 10px
    }
    .pg {
        padding-top: 160px
    }
}
@media(max-width: 767px) {
    .pg-traducaoJuramentada .formularioOrcamento .areaInput .inputNumer input {
        max-width: 153px
    }
    .pg-traducaoJuramentada .servicos ul {
        max-width: 640px
    }
    .pg-transcricaodeAudio .formularioOrcamento .areaInput {
        margin: 0 auto
    }
    .topoContato {
        display: none
    }
    .topo.fixed .logo h1 {
        height: 39px
    }
    .topo.fixed .logo a {
        width: 213px
    }
    .pg {
        padding-top: 114px
    }
    .navbar {
        min-height: 0;
        margin-bottom: 0;
        border: none
    }
    .topo .logo a {
        margin: 0 auto
    }
    .topo .areaMenu .navbar-toggle {
        display: block;
        margin: 0 20px 5px
    }
    .topo .areaMenu .navbar-nav>li {
        display: block
    }
    .topo .areaMenu .navbar-nav,
    .pg-traducaoJuramentada .formularioOrcamento .areaInput .inputNumer {
        text-align: left!important
    }
    .pg .bannerTopo p {
        font-size: 25px
    }
    .pg .bannerTopo {
        padding: 10px;
        min-height: 0
    }
    .pg .areaSobreEmpresa .areaTexto {
        margin: 20px auto;
        padding-top: 45px;
    }
    .pg .areaSobreEmpresa .areaTexto .button,
    .pg-traducaoJuramentada .servicos h3,
    .pg-traducaoJuramentada .servicos p {
        display: block;
        text-align: center
    }
    .pg .areaSobreEmpresa .areaVideo {
        height: 267px;
    }
   




    .pg .areaComoFunciona .iconeTexto {
        max-width: 510px;
        text-align: center
    }
    .pg .areaComoFunciona a,
    .pg .areaQuemSomosfooter .areaTexto .button {
        display: block;
        text-align: center;
        max-width: 290px
    }
    .pg .areaClientes>span,
    .pg .areaDepoimentos>span,
    .pg-transcricaodeAudio .infoServico strong,
    .pg-transcricaodeAudio .infoServico p,
    .pg .areaValores>span,
    .pg .areaServicos>span,
    .pg .areaInfoServicos ul li span,
    .pg .areaQuemSomosfooter .areaTexto span {
        font-size: 25px;
        text-align: center;
        padding: 7px
    }
    .pg .areaClientes>img {
        max-width: 470px
    }
    .pg .areaServicos ul li {
        text-align: center;
        padding: 0;
        margin: 30px auto;
        display: block;
        padding: 10px
    }
    .pg .areaServicos ul li i {
        position: inherit
    }
    .ropdape .contatoEmails,
    .ropdape nav {
        background: #3c4044;
        padding: 20px;
        max-width: 100%
    }
    .ropdape .contatoTelefones,
    .ropdape .endereco {
        padding: 20px
    }
    .ropdape {
        padding: 0
    }
    .pg-servicos .formularioOrcamento .areaInput textarea,
    .pg-traducaoJuramentada .formularioOrcamento .areaInput textarea,
    .pg-transcricaodeAudio .formularioOrcamento .areaInput .areaSelect,
    .pg-traducaoJuramentada .formularioOrcamento .areaInput .areaSelect,
    .pg-traducaoJuramentada .formularioOrcamento .areaInput .inputCheck {
        width: 100%;
        max-width: 100%
    }
    .pg-contato .formularioOrcamento > p,
    .pg-contato .formularioOrcamento > span {
        padding: 10px
    }
    .pg-contato .formularioOrcamento,
    .pg-traducaoJuramentada .formularioOrcamento,
    .pg-agencias .carrosselClientes span {
        text-align: center
    }
    .pg-contato .formularioOrcamento .areaInput .areaSelect,
    .pg-servicos .formularioOrcamento .areaInput .areaSelect {
        width: 100%
    }
    .pg-contato .formularioOrcamento .areaInput textarea {
        max-width: 100%
    }
    .pg-contato .formularioOrcamento .areaInput,
    .pg-traducaoJuramentada .formularioOrcamento .areaInput {
        max-width: 637px;
        margin: 0 auto
    }
    .pg-servicos .formularioOrcamento input[type="submit"],
    .pg-agencias .formularioOrcamento input[type="submit"],
    .pg-contato .formularioOrcamento input[type="submit"],
    .pg-transcricaodeAudio .formularioOrcamento input[type="submit"],
    .pg-traducaoJuramentada .formularioOrcamento input[type="submit"] {
        margin: 20px auto
    }
    .pg-contato .areaContato {
        margin-top: 80px;
        text-align: center
    }
    .pg-contato .areaContato .infos ul li a {
        font-size: 14px;
        padding: 25px 17px
    }
    .pg-contato .areaContato .infos .endereco,
    .pg-faq .bannerBackgroud .info {
        padding: 10px
    }
    .pg-contato .formularioOrcamento .areaInput label,
    .pg-servicos .formularioOrcamento .areaInput label {
        margin: 20px 0
    }
    .pg-transcricaodeAudio {
        padding-top: 114px
    }
    .pg-faq .bannerBackgroud .texto>p {
        font-size: 40px
    }
    .carrosselDepoimentos .owl-item {
        text-align: center;
    }
    .navbar-nav {
        float: initial;
    }
}
@media(max-width: 640px) {
    .pg-traducaoJuramentada .servicos {
        padding: 50px 10px
    }
    .pg-traducaoJuramentada input[type="file"] {
        width: 292px;
        display: block
    }
    .pg-traducaoJuramentada .bannerBackgroud h1,
    .pg-agencias .bannerAgencia span {
        font-size: 30px
    }
    .pg-agencias .infoAgencia .info figure img {
        max-width: 180px
    }
    .pg-servicos .servicos h3 {
        text-align: center;
        padding: 4px;
        font-size: 19px
    }
    .pg-servicos .servicos p {
        text-align: center
    }
    .pg-servicos .servicos ul li {
        margin: 0
    }
    .pg-servicos .servicos ul {
        padding: 0 15px
    }
}
@media(max-width: 610px) {
    .pg .areaSejaumtexter a, .pg-transcricaodeAudio .formularioOrcamento input[type="submit"] {
        display: block;
        margin: 10px auto;
        max-width: 200px
    }
    .pg-traducaoJuramentada .bannerBackgroud,
    .pg-faq .bannerBackgroud,
    .pg-traducaoJuramentada .bannerBackgroud,
    .pg-entreParaTime .bannerEntreParaTime,
    .pg-agencias .bannerAgencia {
        height: 200px
    }
    .pg-agencias .infoAgencia .info {
        padding: 10px 0 70px
    }
    .pg-agencias .infoAgencia .info .texto h2,
    .pg-agencias .carrosselClientes span,
    .pg-entreParaTime .areaTexto span {
        font-size: 25px
    }
    .pg-agencias .infoAgencia .info .texto p {
        font-size: 19px
    }
    .pg-blog .areaPosts ul li figure {
        height: 200px
    }
    .pg-blog .areaPosts ul {
        padding: 10px;
        text-align: center
    }
    .pg-blog .cabecalhoBlog .areaCabecalho,
    .pg-blog .cabecalhoBlog .titulo h2 {
        text-align: center;
        padding: 0 10px
    }
    .pg-entreParaTime .areaTexto p {
        font-size: 17px;
        padding: 0 10px
    }
    .pg-blog .cabecalhoBlog .titulo {
        margin: 25px 0 0
    }
    .topo .areaMenu .navbar-toggle {
        margin: 20px
    }
    .pg {
        padding-top: 75px
    }
    .topo.fixed .logo a {
        width: 165px
    }
    .topo .logo strong {
        height: 40px
    }
    .topo .areaMenu .navbar-nav {
        margin-top: 80px
    }
    .pg-agencias .carrosselClientes h6 {
        text-align: center;
        font-size: 26px
    }
    .pg-entreParaTime .bannerEntreParaTime span {
        font-size: 27px
    }
    .pg-faq .bannerBackgroud .texto>p {
        margin: 0;
        font-size: 30px
    }
    .pg-faq .bannerBackgroud {
        min-height: 292px;
        height: initial
    }
    .copyright {
        text-align: center;
    }
    .copyright .redesSociais {
        text-align: center;
        padding: 5px 0
    }
}

.containerConteudoFull{
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}
